.productCardShelf {
    display: flex;
    column-gap: 24px;
    margin: 0 auto;
    align-items: center;
}

.productCardContent {
    display: glock;
}

.productCardLeftArrow {
    height: 100%;
}

.shelfDots {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 24px auto 32px;
}