.menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    border-radius: var(--radius-rounded-none, 0px);
    background: var(--bg-slate-100, #F1F5F9);
}

.menuItems {
    display: flex;
    column-gap: 0.3rem;
}
.menu button {
    color: var(--text-slate-600, #475569);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    height: 56px;
    padding: 0 24px;
}